<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/allreadyVoted.css}" rel="stylesheet" />
</head>

<body class="center-screen">
<div class="centered">
    <h1>Du hast schon abgestimmt!</h1>
    <h2 id="time_remain">Nächste Abstimmung in: </h2>
    <button id="backButton" class="submitButton">Zurück zum Anfang</button>
</div>

<script>
        document.getElementById("backButton").onclick = function() {
            location.href = "/";
        };

        const zeroPad = (num, places) => String(num).padStart(places, '0')

        // We can set endTime to whatever we want here (e.g. Midnight today )
        // Use moment().endOf('day') to do this.
        var dateFuture = new Date(2021, 00, 17, 0, 0);

        // Show time remaining now.
        showTimeRemaining();

        // Set a timer to update the displayed clock every 1000 milliseconds.
        setInterval(showTimeRemaining, 1000);

        function showTimeRemaining() {
            var dateNow = Date.now();
            var days = zeroPad(Math.floor((dateFuture - dateNow) / (1000 * 60 * 60 * 24)), 2);
            var hours = zeroPad(Math.floor(((dateFuture - dateNow) - days * 1000 * 60 * 60 * 24) / (1000 * 60 * 60)), 2);
            var mins = zeroPad(Math.floor(((dateFuture - dateNow) - days * 1000 * 60 * 60 * 24 - hours * 1000 * 60 * 60) / (1000 * 60)), 2);
            var secs = zeroPad(Math.floor(((dateFuture - dateNow) - days * 1000 * 60 * 60 * 24 - hours * 1000 * 60 * 60 - mins * 1000 * 60) / 1000), 2);
            document.getElementById("time_remain").innerHTML = "Nächste Abstimmung in: " + days + "D " + hours + ":" + mins + ":" + secs;
            console.log("Nächste Abstimmung in: " + days + "D " + hours + ":" + mins + ":" + secs);
        }
    </script>
</body>

</html>