<!DOCTYPE html>
<html lang="de" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/allreadyVoted.css}" rel="stylesheet" />
</head>

<body class="center-screen">
    <div class="centered">
        <h1>Du scheinst zu spät zu sein!</h1>
        <h2>Momentan findet kein Voting statt</h2>
        <button id="backButton" class="submitButton">Zur Adolfinum Seite</button>
    </div>

    <script>
        document.getElementById("backButton").onclick = function() {
            location.href = "https://adolfinum.de";
        };
    </script>
</body>

</html>