<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/addingCandidates.css}" rel="stylesheet" />
</head>

<body class="center-screen">
    <div class="centered">
        <h1>Schlage für jede Kategorie eine/n Kandiadt/en vor:</h1>
        <form action="#" th:action="@{/saveCandidates}" th:object="${form}" method="post">
            <div th:each="category, itemStat : ${categories}">
                <h2 class="categoryHeader" th:text="${category.name}"></h2>
                <input th:field="*{possibleCandidates[__${itemStat.index}__].name}" />
            </div>
            <input type="submit" id="submitButton" th:value="Confirm"></button>
        </form>
    </div>
</body>

</html>