<!DOCTYPE html>
<html lang="de" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Abizeitung 2020/2021 Voting</title>
    <link th:href="@{/styles/start.css}" rel="stylesheet" />

</head>

<body>
    <form action="#" th:action="@{/vote}" method="post">
        <input id="input-1" type="text" placeholder="name.nachname@adolfinum.de" name="name" required autofocus />
        <label for="input-1">
          <span class="label-text">Adolfinum E-Mail</span>
          <div class="signup-button-trigger">Sign Up</div>
        </label>
        <p class="tip">Press Enter</p>
        <div class="signup-button">Abstimmen</div>
    </form>
</body>

</html>