<!DOCTYPE html>
<html lang="de-DE" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Abizeitung 2020/2021 Voting</title>
    <link th:href="@{/styles/first.css}" rel="stylesheet" />
</head>

<body>
    <h2>Paragraphes</h2>
    <p>This is a paragraph.</p>
    <p>This is another paragraph.</p>

    <h2>Links</h2>
    <a href="https://www.w3schools.com">This is a link</a>

    <h2>HTML Images</h2>
    <p>HTML images are defined with the img tag:</p>
    <img src="https://www.lifewire.com/thmb/-27LpEPPTgNRUORa_mIczKDkWh0=/1280x905/filters:fill(auto,1)/what-is-binary-and-how-does-it-work-4692749-1-1eaec2e636424e71bb35419ef8d5005b.png" alt="Binary example picture" width="400" height="400">

    <h2>Line breaks</h2>
    <p>This is a <br> paragraph with a line break.</p>

    <h2>Styling</h2>
    <p style="color:red;">This is a red paragraph.</p>

    <h2>Title attribute</h2>
    <p title="I'm a tooltip">This is a paragraph.</p>

    <h2>Quotes in attributes</h2>
    <p title='John "ShotGun" Nelson'>Example 1</p>
    <p title="John 'ShotGun' Nelson">Example 2</p>

    <h2>Bigger headings</h2>
    <h1>Heading 1</h1>

    <h2>HTML Display</h2>
    <p>
        This paragraph contains a lot of lines in the source code, but the browser ignores it.
    </p>
    <p>
        This paragraph contains a lot of spaces in the source code, but the browser ignores it.
    </p>

    <h2>Poem Problem</h2>
    <p>
        My Bonnie lies over the ocean. My Bonnie lies over the sea. My Bonnie lies over the ocean. Oh, bring back my Bonnie to me.
    </p>

    <h5>Solution:</h5>
    <pre>
            My Bonnie lies over the ocean.
          
            My Bonnie lies over the sea.
          
            My Bonnie lies over the ocean.
          
            Oh, bring back my Bonnie to me.
    </pre>



</body>

</html>