<!DOCTYPE html>
<html lang="de" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/voteSuccessful.css}" rel="stylesheet" />
</head>

<body class="center-screen">
    <div class="centered">
        <h1>Deine Auswahl fließt nun in die Wahl ein!</h1>
        <h2>Danke fürs abstimmen!</h2>
        <button id="backButton" class="submitButton">Zurück zum Anfang</button>
    </div>
</body>

<script>
    document.getElementById("backButton").onclick = function() {
        location.href = "/";
    };
</script>

</html>