<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/voting.css}" rel="stylesheet" />
</head>

<body>
    <h1>Wähle deine Kandidaten:</h1>

    <div th:each="category,iter : ${categories}">
        <h2 th:text="${category.candidateList[iter.index]}"></h2>
    </div>

    <div th:each="candidate : ${candidates}" class="candidates">
        <h2 th:text="${candidate.category.name}"></h2>
        <ul>
            <li th:text="${candidate.name}"></li>
            <li th:text="${candidate.votes}"></li>
            <li th:text="${candidate.category.id}"></li>
        </ul>
    </div>
</body>

</html>