<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/voting.css}" rel="stylesheet" />
</head>

<body class="center-screen">
    <h1>Wähle deine Kandidaten:</h1>
    <div th:each="category,iter : ${categories}">
        <h2 class="categoryHeader" th:text="${category.name}"></h2>
        <div th:each="candidate : ${category.candidateList}">
            <a class="candidate" th:text="${candidate.name}"></a>
        </div>
    </div>
</body>

</html>