td.voted {
    background-color: #f05048;
}

td.submitted {
    background-color: #dbc95e;
}

td.notVoted {
    background-color: #76ed6b;
}

li {
    padding-left: 15px;
    display: inline;
    float: left;
}